In [1]:
import pandas as pd
import numpy as np


books=pd.read_csv('../Dataset/books.csv')
ratings=pd.read_csv('../Dataset/ratings.csv')

In [2]:
books

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [3]:
books.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                            0
isbn13                        585
authors                         0
original_publication_year       0
original_title                  0
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

In [4]:
books['isbn'].fillna(books['isbn13'], inplace = True)
books['original_title'].fillna(books['title'], inplace = True)
books['original_publication_year'].fillna('0', inplace = True)
books['original_publication_year'] = books['original_publication_year'].astype(int)

In [5]:
books['isbn'].fillna('None', inplace = True)
books

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [6]:
books.isnull().sum()

id                              0
book_id                         0
best_book_id                    0
work_id                         0
books_count                     0
isbn                            0
isbn13                        585
authors                         0
original_publication_year       0
original_title                  0
title                           0
language_code                1084
average_rating                  0
ratings_count                   0
work_ratings_count              0
work_text_reviews_count         0
ratings_1                       0
ratings_2                       0
ratings_3                       0
ratings_4                       0
ratings_5                       0
image_url                       0
small_image_url                 0
dtype: int64

In [7]:
books.to_csv('../Dataset/books.csv',index=False)

In [8]:
ratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [9]:
books.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [10]:
books = books.loc[:,['id','book_id','isbn','authors','original_publication_year','original_title','average_rating','ratings_count','image_url']]
books['original_publication_year'] = books['original_publication_year'].astype(int)

In [11]:
books.head()

,id,book_id,isbn,authors,original_publication_year,original_title,average_rating,ratings_count,image_url
0,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,4780653,https://images.gr-assets.com/books/1447303603m...
1,2,3,439554934,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,4.44,4602479,https://images.gr-assets.com/books/1474154022m...
2,3,41865,316015849,Stephenie Meyer,2005,Twilight,3.57,3866839,https://images.gr-assets.com/books/1361039443m...
3,4,2657,61120081,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671,https://images.gr-assets.com/books/1361975680m...
4,5,4671,743273567,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664,https://images.gr-assets.com/books/1490528560m...

In [12]:
books['original_title'] = books['original_title'].str.strip()

In [13]:
combine_book_rating = pd.merge(ratings, books, on='book_id')
combine_book_rating

,book_id,user_id,rating,id,isbn,authors,original_publication_year,original_title,average_rating,ratings_count,image_url
0,1,314,5,27,439785960,"J.K. Rowling, Mary GrandPré",2005,Harry Potter and the Half-Blood Prince,4.54,1678823,https://images.gr-assets.com/books/1361039191m...
1,1,439,3,27,439785960,"J.K. Rowling, Mary GrandPré",2005,Harry Potter and the Half-Blood Prince,4.54,1678823,https://images.gr-assets.com/books/1361039191m...
2,1,588,5,27,439785960,"J.K. Rowling, Mary GrandPré",2005,Harry Potter and the Half-Blood Prince,4.54,1678823,https://images.gr-assets.com/books/1361039191m...
3,1,1169,4,27,439785960,"J.K. Rowling, Mary GrandPré",2005,Harry Potter and the Half-Blood Prince,4.54,1678823,https://images.gr-assets.com/books/1361039191m...
4,1,1185,4,27,439785960,"J.K. Rowling, Mary GrandPré",2005,Harry Potter and the Half-Blood Prince,4.54,1678823,https://images.gr-assets.com/books/1361039191m...
...,...,...,...,...,...,...,...,...,...,...,...
79696,9998,51295,5,8114,679733787,"Kōbō Abe, E. Dale Saunders",1962,砂の女 [Suna no onna],3.91,11467,https://images.gr-assets.com/books/1361254930m...
79697,9998,51559,5,8114,679733787,"Kōbō Abe, E. Dale Saunders",1962,砂の女 [Suna no onna],3.91,11467,https://images.gr-assets.com/books/1361254930m...
79698,9998,52087,4,8114,679733787,"Kōbō Abe, E. Dale Saunders",1962,砂の女 [Suna no onna],3.91,11467,https://images.gr-assets.com/books/1361254930m...
79699,9998,52330,4,8114,679733787,"Kōbō Abe, E. Dale Saunders",1962,砂の女 [Suna no onna],3.91,11467,https://images.gr-assets.com/books/1361254930m...
79700,9998,53249,5,8114,679733787,"Kōbō Abe, E. Dale Saunders",1962,砂の女 [Suna no onna],3.91,11467,https://images.gr-assets.com/books/1361254930m...

In [14]:
combine_book_rating['original_title'][1]

'Harry Potter and the Half-Blood Prince'

In [15]:
combine_book_rating.to_csv('../Dataset/main_data.csv',index=False)

In [16]:
books['original_title'].head(20)

0                                      The Hunger Games
1              Harry Potter and the Philosopher's Stone
2                                              Twilight
3                                 To Kill a Mockingbird
4                                      The Great Gatsby
5                                The Fault in Our Stars
6                    The Hobbit or There and Back Again
7                                The Catcher in the Rye
8                                       Angels & Demons
9                                   Pride and Prejudice
10                                      The Kite Runner
11                                            Divergent
12                                 Nineteen Eighty-Four
13                           Animal Farm: A Fairy Story
14    Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...
15                                Män som hatar kvinnor
16                                        Catching Fire
17             Harry Potter and the Prisoner of Azkaban
18                           The Fellowship of the Ring
19                                           Mockingjay
Name: original_title, dtype: object

In [45]:
books.loc[books['original_title'] == 'Persepolis 2', 'original_title'].values[0]

'Persepolis 2'